{% extends 'auth_base.html' %}
{% load i18n %}

{% block title %}{% translate "Adgangskode skiftet" %}{% endblock  %}
{% block card_title %}{% translate "Adgangskode skiftet" %}{% endblock %}

{% block content %}
    <div class="card-body">
        <div>
            <p class="text-white py-1">
                {% translate "Din adgangskode er blevet skiftet." %}
            </p>
            <p class="text-white py-1">
                {% translate "Vend tilbage til dit dashboard" %}
            </p>
        </div>
            <div class="d-flex justify-content-center links text-white py-4">
            <a class="btn button-color text-white-50" href="{% url "users:dashboard" %}">Ok</a>
        </div>
    </div>
{% endblock  %}
