{% extends 'auth_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate "Glemt adgangskode" %}{% endblock  %}
{% block card_title %}{% translate "Glemt adgangskode" %}{% endblock  %}

{% block content %}
<div class="card-body">
    <div>
        <p class="text-white py-1">
        {% translate "Indtast din email adresse i feltet" %},
        {% translate "så sender vi en vejledning til oprettelse af ny adgangskode" %}.
        </p>
    </div>
    <div class="login-form">
        <form method="post">
            {% crispy form %}
        </form>
     </div>
</div>
<div class="card-footer">
	<div class="d-flex justify-content-center links text-white">
		{% translate "Har du ikke en konto?" %}<a href="{% url "users:register" %}">{% translate "Opret konto" %}</a>
	</div>
</div>
{% endblock  %}