{% extends 'auth_base.html' %}
{% load i18n %}

{% block title %}{% translate "Ny adgangskode" %}{% endblock %}
{% block card_title %}{% translate "Ny adgangskode" %}{% endblock %}

{% block content %}
    <div class="card-body">
        <div>
            <p class="text-white py-1">
                {% translate "Du har successfuldt ændret din adgangskode. Du kan nu" %} <a class="link-text" href={% url 'users:login' %}>{% translate "logge på" %}</a> {% translate "igen" %}.
            </p>
            <p class="text-white py-1">
                {% translate "Har du fortsat problemer med login, så kontakt os på" %} <a class="link-text" href="mailto:ddsc.kontakt@gmail.com" target="_blank">ddsc.kontakt@gmail.com</a> &emsp;
            </p>
        </div>
            <div class="d-flex justify-content-center links text-white py-4">
            <a class="btn button-color text-white-50" href="{% url "users:login" %}">{% translate "Ok" %}</a>
        </div>
    </div>
{% endblock  %}