{% extends 'auth_base.html' %}
{% load i18n %}

{% block title %}{% translate "Mail er sendt" %}{% endblock  %}
{% block card_title %}{% translate "Mail er sendt" %}!{% endblock  %}

{% block content %}
<div class="card-body">
    <div>
        <p class="text-white py-1">
            {% translate "Vi har sendt en mail med vejledning til at gendanne adgangskoden." %}
        </p>
        <p class="text-white py-1">
            {% translate "Hvis du ikke modtager en email, så tjek at du har tastet den rigtige email adresse ind." %}
        </p>
    </div>
    	<div class="d-flex justify-content-center links text-white py-4">
		<a class="btn button-color text-white-50" href="{% url "users:login" %}">{% translate "Ok" %}</a>
	</div>
</div>
{% endblock  %}