{% extends 'auth_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% translate "Gendan adgangskode" %}{% endblock title %}
{% block card_title %}{% translate "Gendan adgangskode" %}{% endblock card_title %}

{% block content %}
<div class="card-body">
    <div>
        <p class="text-white">
            {% translate "Indtast ny adgangskode og bekræft" %}
        </p>
    </div>
    {% if validlink %}
        <form method="post">
            {% crispy form %}
        </form>
    {% else %}
        <p class="text-white">{% translate "Link til gendannelse af adgangskoden er ugyldigt, måske det allerede er brugt? Anmod om nyt link" %} <a href="{% url "users:password_reset"%}">{% translate "her" %}</a>.</p>
    {% endif %}
</div>
<div class="card-footer">
	<div class="d-flex justify-content-center links text-white">
		{% translate "Har du ikke bedt om gendannelse?" %}
	</div>
    	<div class="d-flex justify-content-center links text-white">
		<a href="{% url "users:login" %}">{% translate "Log ind" %}</a>
	</div>
</div>
{% endblock  %}