{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Bekræftet - DDSC" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static "css/success.css" %}">

<section class="success text-center py-5">
    <div class="card py-5">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>
        <h1>{% translate "Velkommen til DDSC!" %}</h1>
        <p class="lead">{% translate "Din email er nu bekræftet" %}</p>
        <p>{% translate "Du vil nu modtage opdateringer om events og aktiviteter baseret på dine præferencer." %}</p>

        <div class="alert alert-info mt-4 mx-auto" style="max-width: 500px;">
            <strong>{% translate "Dine præferencer:" %}</strong><br>
            {% translate "Event typer:" %} {{ subscriber.get_event_types_display }}<br>
            {% translate "Frekvens:" %} {{ subscriber.get_frequency_display }}
        </div>

        <div class="mt-4">
            <a href="{% url 'events:event_list' %}" class="btn btn-primary mx-2" style="background-color: #A91F1F; border-color: #A91F1F;">
                {% translate "Se kommende events" %}
            </a>
            <a href="/" class="btn btn-outline-secondary mx-2">{% translate "Gå til forsiden" %}</a>
        </div>
    </div>
</section>

{% endblock %}
