.unsubscribe-button {
    border-color: rgb(171, 54, 54);
    color: rgb(171, 54, 54);
}

.card-body .unsubscribe-button:hover {
    background-color: rgb(161, 57, 57);
    border-color: rgb(169, 31, 31);
    color: rgb(214, 214, 214);
}

.unsubscribe-button:hover {
    background-color: rgb(128, 8, 8);
    border-color: rgb(169, 31, 31);
}

.link-text {
    color: rgb(171, 54, 54);
}

.link-text:hover {
    color: rgb(169, 31, 31);
}

.top-header-board {
    background-size: cover;
    background-image: url("landingpage_board.jpg");
}

.top-header-member {
    background-size: cover;
    background-image: url("become_member.jpg");
}