<script>
    $(document).ready(function() {
        var ctx = document.getElementById("{{ element_id }}").getContext('2d');
        var chart;

        function createChart() {

            if (chart) {
                chart.destroy();
            }

            chart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [{
                        label: '{{ title }}',
                        data: {{ values|safe }},
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                  responsive: true,
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero: true,
                      }
                    }]
                  }
                }
            });
        }

        if ({{values|safe}}) {
            createChart();
        }

        $('#{{ form_id }}').change(function() {
            $(this).closest('form').submit();
        });
    });
</script>