name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v2
      - uses: psf/black@22.12.0
        with:
          options: "--check --verbose"
          src: "./ddsc_web"