.button-color{
    background-color: rgb(169, 31, 31);
    border-color: rgb(171, 54, 54);
    width: 100px;
}
.card-body .button-color:hover{
    background-color: rgb(128, 8, 8);
    border-color: rgb(169, 31, 31);
}

.button-color:hover{
    background-color: rgb(128, 8, 8);
    border-color: rgb(169, 31, 31);
}