.link-text{
    color: rgb(171, 54, 54);
}

.footer a:hover{
    color: rgb(169, 31, 31);
}

.social {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.3);
  }
  .social a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .social a:active {
    color: #fff;
  }