.projects-section {
    padding: 10rem 0;
  }
  .projects-section .featured-text {
    padding: 2rem;
  }
  @media (min-width: 992px) {
    .projects-section .featured-text {
      padding: 0 0 0 2rem;
      border-left: 0.5rem solid #d32222;
    }
  }
  .projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
  }
  @media (min-width: 992px) {
    .projects-section .project-text {
      padding: 5rem;
    }
    .projects-section .project-text hr {
      border-color: #d32222;
      border-width: 0.25rem;
      width: 30%;
    }
  }
